@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(svg, path) {
  color: #FFF;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.transition {
  @apply transition-all duration-700 ease-in-out;
}

/*animacja spin mainpage*/
@keyframes spinAnimate{
  0%{
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spin{
  animation: spinAnimate 1000ms ease-in-out;
}

@keyframes logoView{
  0%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animationOpacity {
  animation: logoView 500ms ease-in-out;
}


body {
  background-color: #040404;
  scroll-behavior: smooth;
}

.bouncingText span {
  display: inline-block;
  letter-spacing: inherit;
  /* Dziedziczenie letter-spacing */
  color: inherit;
  /* Dziedziczenie koloru */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Płynne przejście dla transform i koloru */
}

.bouncingText .active {
  transform: translateY(-5px);
  /* Podskakiwanie */
  color: inherit;
  /* Dziedziczenie koloru z rodzica */
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}


/* scrollbars */

body::-webkit-scrollbar {
  background-color: #040404;
  width: 6px;
  padding-inline: 1px;
}

body::-webkit-scrollbar-thumb {
  background-color: #e2b45082;
  border-radius: 10px;
}

/*  header borders  */

.header-border::after {
  content: '';
  width: 700px;
  height: 100%;
  border-radius: 351px;
  border-left: 3px solid #E2B350;
  position: absolute;
  left: 0;
  transition-duration: 500ms;
}

.header-border::before {
  content: '';
  width: 700px;
  height: 100%;
  border-radius: 351px;
  border-right: 3px solid #E2B350;
  position: absolute;
  right: 0;
  transition-duration: 500ms;

}

@media only screen and (max-width: 1023px){
  .header-border::after,
  .header-border::before{
    width: 400px;
  }
}

@media only screen and (max-width: 767px){
  .header-border::after,
  .header-border::before{
    width: 200px;
  }
}

@media only screen and (max-width: 639px){
  .header-border::after,
  .header-border::before{
    width: 50px;
  }
}


/* Encourage gradient */

.radial-gradient {
  border-radius: 7px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(34, 34, 34, 0.50) 0%, rgba(14, 14, 14, 0.50) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* clippath */

.rect-cut {
  clip-path: polygon(10.2% 7.672%, 22.201% 0.365%, 22.201% 0.365%, 22.32% 0.297%, 22.443% 0.235%, 22.568% 0.181%, 22.696% 0.133%, 22.826% 0.093%, 22.958% 0.06%, 23.092% 0.034%, 23.227% 0.015%, 23.364% 0.004%, 23.501% 0%, 97.5% 0%, 97.5% 0%, 97.906% 0.033%, 98.29% 0.127%, 98.649% 0.279%, 98.976% 0.482%, 99.268% 0.732%, 99.518% 1.024%, 99.721% 1.351%, 99.873% 1.71%, 99.967% 2.094%, 100% 2.5%, 100% 80.306%, 100% 80.306%, 99.988% 80.55%, 99.953% 80.789%, 99.895% 81.023%, 99.816% 81.248%, 99.715% 81.465%, 99.595% 81.671%, 99.455% 81.865%, 99.296% 82.045%, 99.12% 82.211%, 98.926% 82.36%, 88% 89.947%, 74.04% 99.559%, 74.04% 99.559%, 73.913% 99.641%, 73.781% 99.715%, 73.646% 99.781%, 73.507% 99.838%, 73.365% 99.887%, 73.22% 99.927%, 73.073% 99.959%, 72.924% 99.982%, 72.774% 99.995%, 72.623% 100%, 2.5% 100%, 2.5% 100%, 2.094% 99.967%, 1.71% 99.873%, 1.351% 99.721%, 1.024% 99.518%, 0.732% 99.268%, 0.482% 98.976%, 0.279% 98.649%, 0.127% 98.29%, 0.033% 97.906%, 0% 97.5%, 0% 15.527%, 0% 15.527%, 0.013% 15.272%, 0.051% 15.023%, 0.114% 14.781%, 0.2% 14.547%, 0.309% 14.323%, 0.439% 14.111%, 0.59% 13.913%, 0.761% 13.73%, 0.951% 13.564%, 1.159% 13.417%, 10.2% 7.672%);

}

.background {
  background-size: 1920px 2400px;
  background-position: 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(900px 700px at 13% 34%, #23232335 0%, #00FFFF00 100%), radial-gradient(1400px 500px at 81% 60%, #23232335 0%, #00FFFF00 100%), radial-gradient(75% 75% at 50% 50%, #040404 0%, #040404 100%);
}

/* Dla > 1920px */
@media (min-width: 1920px) {
  .background{
    background-size: 100%;
  }
}

/* Dla tabletów */
@media (max-width: 1024px) {
  .background {
    background-size: 100%; /* Ustawienie rozmiaru na 100% */
    background-image: radial-gradient(600px 500px at 15% 30%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(1000px 400px at 75% 55%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(60% 60% at 50% 50%, #040404 0%, #040404 100%);
  }
}

/* Dla urządzeń mobilnych */
@media (max-width: 768px) {
  .background {
    background-size: 100%; /* Ustawienie rozmiaru na 100% */
    background-image: radial-gradient(50vw 40vh at 20% 30%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(75vw 30vh at 70% 50%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(30vw 30vh at 50% 50%, #040404 0%, #040404 100%);
  }
}

/* Dla małych urządzeń mobilnych */
@media (max-width: 480px) {
  .background {
    background-size: 100%; /* Ustawienie rozmiaru na 100% */
    background-image: radial-gradient(30vw 20vh at 25% 30%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(50vw 15vh at 60% 40%, #23232335 0%, #00FFFF00 100%),
                      radial-gradient(20vw 20vh at 50% 50%, #040404 0%, #040404 100%);
  }
}

/* portfolio saturation */

.portfolio-item>img {
  transition-duration: 2000ms;
}

.portfolio-item:hover>img {
  filter: saturate(1);
}

/* gradeint - transparent*/

.transparent-y {
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.transparent-x {
  -webkit-mask-image: linear-gradient(275deg, #FFF 15.42%, rgba(255, 255, 255, 0.00) 84.43%);
}

/* portfolio hover */

.portfolio-item-hovered:hover>img {
  top: -25px;
}

.portfolio-item-hovered:hover>div {
  filter: brightness(1) saturate(1)
}

.portfolio-item-hovered:hover>p {
  bottom: 20px;
  transform: translateY(0);
}

/* oferta formularz */
.circleBefore::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid #E2B350;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  transition-duration: 700ms;
}

.offerForm .peer:checked+label .circleBefore::before {
  border-color: #000000;
  background-color: #E2B350;
}

.quadBefore::before {
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid #E2B350;
  transition-duration: 700ms;
  margin-right: 10px;
}

.offerForm .peer:checked+label .quadBefore::before {
  border-color: #000000;
  background-color: #E2B350;
}

/*dialog w ofercie*/
dialog::backdrop {
  background-color: #151515b3 !important;
  z-index: 20;
}


/* decoration lines before - after*/

.decoration-lines::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 30px;
  width: 136px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.50);
  border-left: 1px solid rgba(255, 255, 255, 0.50);
}

.decoration-lines::after {
  content: '';
  position: absolute;
  top: -10px;
  right: 30px;
  width: 136px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 0px 5px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.50);
  border-right: 1px solid rgba(255, 255, 255, 0.50);
  z-index: 5;
}

@media only screen and (max-width: 480px){
  .decoration-lines::before,
  .decoration-lines::after{
    width: 30%;
  }
}

@media only screen and (max-width: 350px){
  .decoration-lines::before,
  .decoration-lines::after{
    width: 20%;
  }
}

/* navbar button */

.nav-button:hover > svg:first-child{
  display: none;
}

.nav-button:hover > svg:last-child{
  display: block;
}

.menu-button::after{
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 50%;
  height: 2px;
  background-color: #E2B350;
  transition-duration: 500ms;
}

.menu-button::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 50%;
  height: 2px;
  background-color: #E2B350;
  transition-duration: 500ms;
}

.menu-button:hover::after{
  right: 0;
}

.menu-button:hover::before{
  left: 0;
}

.menu-active{
  color: #E2B350;
}

.menu-active::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: #E2B350;
  transition-duration: 500ms;
}

.menu-active::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #E2B350;
  transition-duration: 500ms;
}

/*hamburger-menu*/

#nav-icon1{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* 3 lines of text */

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* przesunięcia do ładowania sekcji */

.about-section {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  visibility: hidden;
}

.about-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.about-hidden {
  opacity: 0;
  transform: translateY(100px);
  visibility: hidden;
}

/* Animacja dla kafelków */
.tile-visible {
  opacity: 1;
  transform: translateY(0);
}

.tile-hidden {
  opacity: 0;
  transform: translateY(50px);
}

/* Animacja dla ładowania od boku */

.element-visible-right {
  opacity: 1;
  transform: translateX(0);
}

.element-hidden-right {
  opacity: 0;
  transform: translateX(50px);
}

.element-visible-left {
  opacity: 1;
  transform: translateX(0);
}

.element-hidden-left {
  opacity: 0;
  transform: translateX(-50px);
}


/*Slider w opiniach - paginacja*/
.swiper-pagination{
  position: relative !important;
  background: rgba(16, 16, 16, 0.40);
  margin-top: 20px;
  width: 150px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  margin-inline: auto;
  border-radius: 5px;
  width: 150px !important;
}

.swiper-pagination-bullet{background-color: #fff !important;}
.swiper-pagination-bullet-active{background: #E2B350 !important;}

/* loader */

.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#E2B350 0 0);
  --r1: radial-gradient(farthest-side at bottom,#E2B350 93%,#E2B350);
  --r2: radial-gradient(farthest-side at top   ,#E2B350 93%,#E2B350);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}

/* kropki portfolio */

.portfolio-dots{
  position: absolute;
  top: 50%;
  width: max-content;
  white-space: nowrap;
  transform: translateX(calc(-100% - 10px)) translateY(-50%);
  visibility: hidden;
  transition-duration: 500ms;
  opacity: 0;
}

.dot-container:hover > .portfolio-dots{
  visibility: visible;
  opacity: 1;
}